/* ------- FOR HEADER ------- */

.headerContainer {
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(204, 255, 21, 0.103);
  border-radius: 5px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: sans-serif;
  padding: 1rem 0rem;
}

.Link {
  text-decoration: none;
  color: aliceblue;
}

.appTitle {
  margin: 1rem;
  font-style: italic;
}

.button {
  width: 50px;
  padding: .8rem;
  background-color: green;
  outline: none;
  border: white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: transform .7s ease-in-out;
}

.button:hover {
  background-color: rgba(36, 230, 36, 0.747);
  box-shadow: 2px 2px 2px 2px rgba(204, 255, 21, 0.103);
  transform: rotate(360deg);
}


/* ------ FOR TASKLIST ------ */


.TaskListContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.TaskList {
  width: 90%;
  box-shadow: 2px 2px 2px 2px rgba(204, 255, 21, 0.103);
  margin: 2rem;
  padding: 1rem;
  border-radius: 5px;
}

.TaskContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}